body{
    background-image: url('../images/background-image.png');
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    max-width: 100vw;
}

#glass{
    width: 98vw;
    height: 120px;
    border-radius: 8px;
    backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.432);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    margin-top: 1vh;
}

p{
    font-size: 3em;
    color: white;
}

button {
    width: 10%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
}

.Buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}